extends ../base.pug

//- block variables 
//-     - var template = 'collection'


block content 
    .collections 
        .collections_wrapper
            .collections_titles
                each collection, index in collections
                    .collections_titles_label= `${home.data.collection} ${Numbers(index)}`
                    .collections_tiltes_title= collection.data.title

            .collections_gallery 
                .collections_wrapper_gallery 
                    each collection in collections
                        each product in collection.data.products
                            a.collections_gallery_link(href=Link(product.product_product))
                                figure.collections_gallery_media 
                                    img.collection_gallery_media_image(alt=product.product_product.data.image.alt src=product.product_product.data.image.url)
                
                .collections_content 
                    each collection in collections 
                        article.collections_article
                            h2.collections_article_title=`${collection.data.title} ${home.data.collection}`
                            p.collections_article_description=collection.data.description
