extends ../base.pug

//- block variables 
//-     - var template = 'home'


block content 
        .detail 
            .detail_wrapper 
                figure.detail_media 
                    image.detail_media_image(alt=product.data.image src=(product.data.image.url))

            .detail_informations 
                p.detail_informations_description=product.data.collection.data.title

                h1.detail_informations_title=product.data.title

                .detail_informations_content 
                    .detail_informations_highlights 
                        each highlight in product.data.highlights
                            p.detail_information_highlight
                                svg.detail_information_highlight_icon
                                    use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

                                | #{highlight.highlights_text}

                    .detail_informations_list 
                        each item in product.data.informations 
                            p.detail_information_item 
                                strong.detail_information_item_title=item.informations_label
                                span.detail_information_item_description=item.informations_description

                    a.detail_inforamtion_link(href=product.data.url_link.url target="_blank")=product.data.link_text
        